# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment directory
honeypot-env/

# Log files
flask.log

# Environment files
.env


# IDE or editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Exclude all other unnecessary files
*.log
*.tmp
