{% extends "base.html" %}
{% block content %}
    <h1>Admin Login</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input class="btn" type="submit" value="Login">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="error">
                    {% for category, message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
{% endblock %}
